*{
    padding: 0;
    margin: 0;
}

.Jinx{
    height: 4rem;
    width: 6rem;
}

.Projects{
    display: flex;
    justify-content: space-around;
}

.Texts{
    display: flex;
    gap: 2.6rem;
}







@media only screen and (maxwidthe:767px){
    .Texts{
        background-color: black;
    }
} 
